.events{
	@include background-image( url('../images/light_wool.png') );
	@include background-image(linear-gradient( rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3) ));
	padding: 20px;
}

.event{
	background-color: yellow;
	padding: 10px;
}

.event-name{
	@extend .text-center;
}

.event-description{
	display: inline;
	width: 65%;
}

.event-photo{
	float: left;
	margin: 5px;
	:hover{
		@include transition (opacity 1.0s ease-in 0s, width 2.0s ease-in 2s);
	}
}

.img-center{
	display: inline;
	margin: 0 auto;
	@include size( 100px, 100px );

}
