$nav-buffer: 720px;

.navbar{
	background-color: $KEM-blue;
	color: white;
	margin-bottom: 0;
	overflow: visible;

}

.nav-container{
	margin: 0 auto;
	ul{
		@include position(absolute);
	}
}

.nav-left{
	right: $nav-buffer;
	text-align: right;
}

.nav-logo{
	@include background( url('../images/logo_grey.jpg') no-repeat );
	background-position: center center;
	@include background-size( cover );
	@include position( absolute, 0 0 0 50% );
	@include size( 54px, 60px );
	margin: 5px 0 0 -27px;
	z-index: 150;
}

.nav-right{
	left: $nav-buffer;
	text-align: left;
}