.navbar{
	background-color: $KEM-blue;
	color: white;
	margin-bottom: 0;

}

#upkem-nav{
	display: block;
	float: none;
	margin: 0 15%;

}

.nav-left{
	float: left;
	
	right: 50%;
}

.nav-right{
	float: right;
}



// .navbar{
//     box-shadow: 0 1px 4px darken($ICPA-darkblue, 20%);
//     z-index: 200;
//     border-bottom: 1px solid #CDCDCD;
//     @include gradient-vertical(lighten($ICPA-blue, 5%), $ICPA-blue);
// }