.tron{
	display: block;
	@include position( relative );
	height: 1000px;

}

.video-holder{
	position: absolute;
	width: 100%;
	z-index: 1;
}

.video-overlay{
	position: absolute;
	width: 100%;
	z-index: 10;
}

h1{
	color: white;
	text-shadow: 0 0 10px #222;
}

.tron-heading{
	margin-top: 300px;
	text-align: center;
}



.thing{
	@include button( shiny, $KEM-blue );
	margin: 20px;
	padding: 20px 40px;
}
