%nav.navbar.navbar-default{:role => "navigation"}
  .container
    %nav.nav-container
      %ul.nav.navbar-nav.nav-left
        %li
          %a{:href => "#"} About Us
        %li
          %a{:href => "#"} About Us
      %ul.nav.navbar-nav.nav-right
        %li
          %a{:href => "#"} Right 
        %li
          %a{:href => "#"} Apply
