%nav.navbar.navbar-default{:role => "navigation"}
  .container
    %nav.nav-container
      %ul.nav.navbar-nav.nav-left
        %li
          %a{:href => "#"} Testimonials
        %li
          %a{:href => "#"} Our Events
        %li
          %a{:href => "#"} Third Thing
      .nav-logo
        %a{href: "#"}
      %ul.nav.navbar-nav.nav-right
        %li
          %a{:href => "#"} Advocacy Thingie
        %li
          %a{:href => "#"} Giving Back
        %li
          %a{:href => "#"} Apply! :)
