---
title: UP KEM
---

%video#landing-video{width: "100%", autoplay: "", loop: "", muted: ""}
  %source{:src => "assets/images/short.mp4", :type => "video/mp4"}
  .container
    .content
      %h1 UP KEM: Life in Color
    = image_tag "logoness.png", class: "img-circle img-profile"
