---
title: UP KEM
---

.tron
  .video-holder
    %video#landing-video{width: "100%", autoplay: "", loop: "", muted: ""}
      %source{:src => "assets/images/short.mp4", :type => "video/mp4"}
  .video-overlay
    .container
      .tron-heading
        %h1 UP KEM: Life in Color
        .thing dqdqdq


%h1{style: "clear: both"} Hello
= image_tag "logoness.png", class: "img-circle img-profile"